:root {
    --color-title-and-bodybackground: hsl(0, 0%, 95%);
    --color-all-paragraphs: hsla(0, 0%, 100%, 0.75);
    --color-background-and-a: #fff;
    --color-background-sedans: hsl(31, 77%, 52%);
    --color-background-suvs: hsl(184, 100%, 22%);
    --color-background-luxury: hsl(179, 100%, 13%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-title-and-bodybackground);
    font-family: 'Lexend Deca';
    font-size: 14px;
}

h1 {
    font-family: 'Big Shoulders Display';
    color: var(--color-title-and-bodybackground);
    font-size: 2.5rem;
}

p {
    color: var(--color-all-paragraphs);
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
}

a {
    background: var(--color-background-and-a);
    padding: 16px 32px;
    border-radius: 24px;
    width: fit-content;
}

.description {
    padding: 50px;
}

.description-sedans {
    background: var(--color-background-sedans);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.description-suvs {
    background: var(--color-background-suvs);
}

.description-luxury {
    background: var(--color-background-luxury);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.button-sedan {
    color: var(--color-background-sedans);
}

.button-suvs {
    color: var(--color-background-suvs);
}

.button-luxury {
    color: var(--color-background-luxury);
}

/* Responsive (Desktop) */
@media (min-width: 992px) {
    #content {
        height: 100vh;
    }

    .description-sedans {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
    }

    .description-luxury {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 0;
    }

    .description {
        min-height: 500px;
    }
}